/* Стили для футера */

/* Основной контейнер футера */
.footer {
  background-color: #ffffff; /* Цвет фона */
  border-top-left-radius: 30px; /* Скругление левого верхнего угла */
  border-top-right-radius: 30px; /* Скругление правого верхнего угла */
  padding: 30px 30px 0 30px;
  margin-top: auto;
  display: flex; /* Отображаем элементы в виде flex-контейнера */
  justify-content: space-between; /* Распределяем элементы по горизонтали */
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку, если не хватает места */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.footer-section {
  margin-bottom: 30px;
}

/* Стили для блока ссылок в футере */
.footer-links {
  display: flex; /* Отображаем элементы в виде flex-контейнера */
  flex-direction: column; /* Отображаем элементы в колонке */
  align-items: flex-start; /* Выравниваем элементы по левому краю */
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
}

/* Стили для отдельной ссылки в футере */
.footer-link {
  margin-bottom: 10px; /* Отступ между элементами */
  font-family: 'Montserrat', sans-serif; /* Шрифт */
  font-size: 17px; /* Размер шрифта */
  font-weight: normal; /* Обычный начертание */
}

.footer-link:last-child {
  margin-bottom: 0;
}

.footer-link a,
.social-icon {
  color: #101010; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}

/* Стили для кнопки смены языка */
.language-btn {
  font-family: 'Montserrat', sans-serif; /* Шрифт */
  font-size: 15px; /* Размер шрифта */
  font-weight: bold; /* Обычный начертание */
  cursor: pointer; /* Указываем, что элемент является указателем при наведении */
  margin-right: 15px; /* Отступ между кнопками */
}

/* Стили для иконки языка */
.language-btn img {
  margin-right: 15px;
  vertical-align: middle; /* Выравниваем иконку по вертикали */
  cursor: default;
}

/* Стили для текста кнопки */
.language-btn span {
  color: #101010; /* Цвет текста по умолчанию */
}

/* Стили для текста кнопки выбранного языка */
.language-btn span.russian,
.language-btn span.english {
  color: #FFA542; /* Цвет текста для русского языка */
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icon {
  margin-right: 20px;
  align-items: center;
}

.social-icon:last-child {
  margin-right: 0;
}