.product-card {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  max-width: 310px;
  margin: 10px;
}

.product-content {
  height: 100%;
  display: flex; 
  flex-direction: column; 
  justify-content: baseline;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.product-info {
  /* стили для информации о товаре */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* текст прижат к низу */
}

.title-price {
  display: flex;
  justify-content:space-between; 
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #1c1c27;
}

.price {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #FFA542;
}

.rating-button {
  display: flex;
  justify-content:space-between; 
}

.rating {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #838383;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating span {
  margin-left: 10px;
}

.buy-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: right;
}
